body {
  font-size: 14px;
  width: 300px;
}

div {
  display: block;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ul {
  display: block;
  margin: 3px 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

li {
  background: #fcfcfc;
  line-height: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  padding: 4px 10px;
}

li:first-child {
  -webkit-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 0;
}
li:last-child {
  -webkit-bottom-left-border-radius: 5px;
  -webkit-bottom-right-border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 0;
}
li a.adesk, li a.calendar, li a.gmail, li a.bitbucket, li a.doc {
  width: 35px;
  text-indent: -9999px;
  display: inline-block;
  float: right;
}
li a.adesk {
  background: transparent url(icon/adesk.ico) center center no-repeat;
}
li a.calendar {
  background: transparent url(icon/calendar.ico) center center no-repeat;
}
li a.gmail {
  background: transparent url(icon/gmail.ico) center center no-repeat;
}
li a.bitbucket {
  background: transparent url(icon/bitbucket.png) center center no-repeat;
}
li a.doc {
  background: transparent url(icon/doc.ico) center center no-repeat;
}